.bookshelf {
  text-align: center;
  border-top: 1px solid grey;
}

.book {
  margin: 1em;
  display: inline-block;
  position: relative;
}

.book-status-dropdown {
  position: absolute;
  bottom: -5%;
  right: -5%;
  background-image: url('./icons/arrow-drop-down.svg');
}

.book-status-dropdown select {
  padding: 5px 8px;
  width: 130%;
  height: inherit;
  width: inherit;
  border: none;
  box-shadow: none;
  color: transparent;
  background: transparent;
  -webkit-appearance: none;
}

.book-status-dropdown select:focus {
  outline: none;
}

.book-status-dropdown select:hover {
  cursor: pointer;
}

.search-books {
  background-image: url('./icons/add.svg');
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.circle-icon {
  height: 2.5em;
  width: 2.5em;
  background-color: green;
  border-radius: 100%;
}