.my-reads-header {
  text-align: left;
  font-size: 2em;
  font-weight: 300;
  width: 100%;
  letter-spacing: 2px;
  background-color: #1c749c;
  color: white;
  padding: 1em;
  position: fixed;
  z-index: 100;
  display: inline-block;
  box-shadow: 0px 2px 4px rgb(151, 150, 150);
}

.my-reads-body {
  margin-top: 7.5em;
  width: 100%;
  display: inline-block;
}

.bookshelf {
  text-align: center;
  background-color:	#eeeeee;
  width: 95%;
  margin: 0 auto 1em;
  border-radius: .3em;
  overflow: hidden;
}

.bookshelf-header {
  padding: 1em;
  color: white;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 1px;
  background-color: #909ba1;
}

.book-container {
  display: inline-grid;
  margin: 2em 1em;
}

.book {
  position: relative;
}

.book-status-dropdown {
  position: absolute;
  bottom: -5%;
  right: -15%;
  background-image: url('./icons/arrow-drop-down.svg');
}

.book-status-dropdown select {
  padding: 5px 8px;
  height: inherit;
  width: inherit;
  border: none;
  box-shadow: none;
  color: transparent;
  background: transparent;
  -webkit-appearance: none;
}

.book-status-dropdown select:focus {
  outline: none;
}

.book-status-dropdown select:hover {
  cursor: pointer;
}

.add-book-icon {
  background-image: url('./icons/add.svg');
  position: fixed;
  right: 2em;
  top: 2em;
  z-index: 500;
  box-shadow: none !important;
  background-color: rgb(111, 184, 233) !important;
  border: 2px solid white;
}

.circle-icon {
  height: 2.5em;
  width: 2.5em;
  background-color: #1e8abd;
  border-radius: 100%;
  box-shadow: 4px 4px 4px rgb(151, 150, 150);
}

.book-info {
  padding-top: 1em;
  max-width: 8em;
  text-align: left;
}

.book-title {
  font-size: .8em;
}

.book-author {
  font-size: .7em;
  font-weight: 300;
  color: grey;
}

.search-bar {
  box-shadow: 0 4px 4px rgb(151, 150, 150);
  padding: 1em 0;
  position: fixed;
  width: 100%;
  top: 6em;
  z-index: 100;
  background-color: white;
}

.search-bar input {
  border: none;
  height: 2em;
  font-size: 1.2em;
  margin-left: 1em;
}

.search-bar input:focus {
  outline: none;
}

.back-arrow {
  vertical-align: middle;
  width: 2.5em;
  margin-left: 1em;
}

.missing-thumbnail {
  height: 12em;
  width: 8em;
  border: 1px solid grey;
  text-align: center;
  padding: 4em 2em;
}

.search-results {
  text-align: center;
  margin: 6em 2em 1em;
}