.bookshelf {
  text-align: center;
  border-top: 1px solid grey;
}

.book {
  margin: 1em;
  display: inline-block;
  position: relative;
}

.book-dropdown {
  position: absolute;
  bottom: -5%;
  right: -5%;
  height: 2.5em;
  width: 2.5em;
  border-radius: 100%;
  background-color: green;
  background-image: url('./icons/arrow-drop-down.svg');
}

.book-dropdown select {
  padding: 5px 8px;
  width: 130%;
  height: inherit;
  width: inherit;
  border: none;
  box-shadow: none;
  color: transparent;
  background: transparent;
  -webkit-appearance: none;
}

.book-dropdown select:focus {
  outline: none;
}

.book-dropdown select:hover {
  cursor: pointer;
}